@{
    ViewData["Title"] = "AccessDenied";
}
<div class="container">
    <div class="row justify-content-center align-items-center text-center">
        <h1 class="text-danger"><i class="fas fa-ban fa-3x"></i></h1>
        <h1>Unathorized Accesss</h1>
        <p>You don't have access to this content</p>
    </div>
</div>