@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "_FormsLayout";
}
@section CSS{
    <link rel="stylesheet" href="~/css/form.css">
}
<form id="account-form" class="p-4 rounded-3 shadow " asp-controller="Account" asp-action="Login" method="post">
    <h2 class="text-center secondary-color "><i class="fas fa-user-circle"></i> LOGIN</h2>
    @if(@TempData["ShowLoginErrors"]!=null){
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            Email and/or password invalid
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="form-outline mt-4">
        <input asp-for="Email" class="form-control">
        <label asp-for="Email" class="form-label"></label>
    </div>
    <span class="text-danger" asp-validation-for="Email"></span>
    <div class="form-outline mt-4">
        <input asp-for="Password" class="form-control"/>
        <label asp-for="Password" class="form-label"></label>
    </div>
    <span class="text-danger" asp-validation-for="Password"></span>
    <div class="d-block form-check my-4 ms-2">
        <input asp-for="RememberMe" class="form-check-input">
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="w-100 btn form-button">Login</button>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}