@{
    ViewData["Title"] = "About";
}
@section CSS{
    <link rel="stylesheet" href="~/css/about.css">
}
<div class="container">
    <div class="row justify-content-center">
            <div class="developer col-lg-6 col-md-8 text-center">
                <h1 class="my-4 fw-bold">Meet the Creator of <span class="primary-color">RentME</span></span></h1>
                    <img src="~/images/It's me.jpeg" alt="" class="developer-photo border rounded-pill">
                    <p class="developer-description mt-sm-3">My name is <strong>Kevin Jose Ordoñez Zelaya</strong>. I am a software engineer student at UTN, who
                        already got a
                        diploma and
                        currently working to get a bachelor’s degree. I am a proactive person, who's always looking new ways
                        to learn and imp    rove
                        my skillset.I'm always open to learn new things and share my experience during the years I've been
                        studying.
                    </p>
            </div>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-lg-6 col-md-8">
            <h2 class="mb-3 fw-bold text-center">Contact Information</h2>
            <p><span class="primary-color"><strong>Phone Number:</strong></span> 8682-3064/6802-5321</p>
            <p><span class="primary-color"><strong>Email:</strong></span> RentME@protonmail.com</p>
            <p><span class="primary-color"><strong>Location:</strong></span> Heredia, Santo Domingo, 1Km North the firemen station</p>
            <p>We are open on weekdays from 8am to 6:00pm</p>
        </div>
    </div>
    </div>
</div>

@section scripts{
    <script src="~/js/about.js"></script>
}