@{
    ViewData["Title"] = "About";
}
@section CSS{
    <link rel="stylesheet" href="~/css/about.css">
}
<div class="row">
    <h2 class="my-4">Meet the Creator of Rent<span class="ME-highlighted-text">ME</span></h2>
    <div class="col-3">
        <img src="~/images/It's me.jpeg" alt="" class="developer-photo">
    </div>
    <div class="col-5">
        <p class="developer-description">My name is <strong>Kevin Jose Ordoñez Zelaya</strong>. I am a software engineer student at UTN, who
            already got a
            diploma and
            currently working to get a bachelor’s degree. I am a proactive person, who's always looking new ways
            to learn and improve
            my skillset.I'm always open to learn new things and share my experience during the years I've been
            studying.
        </p>
    </div>
</div>
<div class="row mt-5">
    <h2 class="mb-3">Contact Information</h2>
    <p><strong>Phone Number:</strong> 8682-3064/6802-5321</p>
    <p><strong>Email:</strong> RentME@protonmail.com</p>
    <p><strong>Location:</strong> Heredia, Santo Domingo, 1Km North the firemen station</p>
    <p>We are open on weekdays from 8am to 6:00pm</p>
</div>
</div>