@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}

@section CSS{
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/lib/notyf/notyf.min.css">
}
<div class="bg-image text-white" id="jumbotron">
    <div class="mask d-flex justify-content-center align-items-center" id="jumbotron-mask">
        <form method="POST" asp-controller="Home" asp-action="Index" class="px-3" id="search-province-form">
            <h1 class="text-center display-1">Discover a place
                you'll love to live</h1>
            <div class="input-group">
                <select asp-for="SelectedProvince" asp-items="Model.Provinces" class="form-select form-select-lg">
                    <option value="0" selected>Pick a province</option>
                </select>
                <button class="btn btn-lg" type="submit" id="search-by-province-btn"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>



<!-- START THE FEATURES -->

<div class="container my-5">
    <div class="row text-center justify-content-center align-items-center">
        <h1 class="mb-3">See how <span class="primary-color bold">RentME</span> can help</h1>
        <div class="col-lg-4 col-sm-6 p-3">
            <span class="text-success"><i class="fas fa-home fa-5x"></i></span>
            <h2>Rent a Home</h2>
            <p>With 35+ filters and custom keyword search, Trulia can help you easily find a home or apartment for
                rent that you'll love.</p>
        </div>
        <div class="col-lg-4 col-sm-6 p-3">
            <span class="text-warning"><i class="fas fa-coins fa-5x"></i></span>
            <h2>It's cheap</h2>
            <p>You dont have to sell a lung, in order to live comfortably!</p>
        </div>
        <div class="col-lg-4 col-sm-6 p-3">
            <span class="text-danger"><i class="fas fa-life-ring fa-5x"></i></span>
            <h2>Multiple Services</h2>
            <p>Over 100+ Services to select when you want to rent a home, it will make your life easier!!!</p>
        </div>
    </div>
    <hr>
</div>

<!-- END THE FEATURES -->

<!-- END THE FEATURES -->
<div class="container">

    <h1 class="text-center secondary-color">Customer Testiomonials</h1>

    <div class="row align-items-center py-5">
        <div class="col-md-2">
            <img src="~/images/Testimonies/Bill Gates.jpg" alt="" srcset="" class="img-fluid rounded-circle shadow-4">
        </div>
        <div class="col-md-6 d-flex align-items-center pt-3">
            <div class="testimony text-center">
                <p class="lead testimonial-text"><span class="primary-color"><i
                            class="fas fa-quote-left fa-1x"></i></span> There are many variations of passages of Lorem
                    Ipsum available, but the majority have suffered alteration in some form, by injected humour, or
                    randomised words which don't look even slightly believable. <span class="primary-color"><i
                            class="fas fa-quote-right fa-1x"></i></span></p>
                <h5 class="primary-color fst-italic text-end">-Bill Gates ~ Microsoft CEO</h5>
            </div>
        </div>
    </div>

    <hr>

    <div class="row flex-row-reverse align-items-center py-5">
        <div class="col-md-2">
            <img src="~/images/Testimonies/Tim Cook.jpg" alt="" srcset="" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-6 d-flex align-items-center pt-3">
            <div class="testimony text-center">
                <p class="lead testimonial-text"><span class="primary-color"><i
                            class="fas fa-quote-left fa-1x"></i></span> Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book.<span class="primary-color"><i class="fas fa-quote-right fa-1x"></i></span></p>
                </p>
                <h5 class="primary-color fst-italic text-end">-Tim Cook ~ Apple CEO</h5>
            </div>
        </div>

    </div>


    <hr>
    <div class="row align~items-center py-5">
        <div class="col-md-2">
            <img src="~/images/Testimonies/Jeff Bez.jpg" alt="" srcset="" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-6 d-flex align-items-center pt-3">
            <div class="testimony text-center">
                <p class="lead testimonial-text"><span class="primary-color"><i
                            class="fas fa-quote-left fa-1x"></i></span> Contrary to popular belief, Lorem Ipsum is not
                    simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over
                    2000 years old. <span class="primary-color"><i class="fas fa-quote-right fa-1x"></i></span></p>
                <h5 class="primary-color fst-italic text-end">-Jeff Bez ~ Amazon CEO</h5>
            </div>
        </div>
    </div>
</div>





@section Scripts{
<script src="~/lib/notyf/notyf.min.js"></script>
<script src="~/js/index.js"></script>

}