/* Global */

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 20px;
}

.current {
    color: #91171f !important;
}

.developer-photo {
    max-height: 500px;
    max-width: 400px;
}

.developer-description {
    line-height: 1.5;
}

footer {
    border-top: 3px solid #91171f;
}