/* Global */

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 20px;
}

.current {
    color: #91171f !important;
}

.developer-photo {
    height: 400px;
    width: 100%;
    border: 5px solid #91171f;
}

.developer-description {
    line-height: 5;
}

footer {
    border-top: 3px solid #91171f;
}