body{
    background-color: #eee;
}
.form-container {
    max-width: 425px;
}
.form-button{
    background-color: #14445c;
    color: #fff;
}
.form-button:hover,
.form-button:active{
    background-color: #09405c;
    color: #fff;
}

