/* Index */
.current {
    color: #961047;
}

/* Main */
/* END */
#hobbit-background-image {
    height: 700px;
    width: 100%;
    background-image: url("../images/index-background-image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border-radius: 15px; */
    text-align: center;
}

.discover-form {
    display: inline-block;
}

.discover-title {
    margin: 300px 0px 10px 0px;
    color: #fff;
}