/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */

/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
    /*height: 11vw;*/
    object-fit: cover;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
    }

    .card {
        border: 2px solid #fff;
    }

    .card:hover {
        cursor: pointer;
        border: 2px solid #961047;
        background-color: #eee;
    }

    .card-active {
        cursor: pointer;
        border: 2px solid #961047;
        background-color: #eee;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
}

.card-active {
    border: 2px solid #961047;
    background-color: #eee;
}

#home-picture {
    max-height: 400px;
}

#home-details,
#home-details-example {
    border: 3px solid #961047;
    border-radius: 0.25rem;
}

.dropdown-item:hover {
    cursor: pointer;
}

#home-details {
    position: -webkit-sticky;
    /* Safari & IE */
    position: sticky;
    top: 0;
    z-index: 1;
}