body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #fcf4ec;
}

a{
    color: #961047;
    font-weight: 900;
}

a:hover,
a:active{
    color: #790535;
}

#sign-up-btn{
    background-color: #961047;
    color: #fff;
    font-weight: 900;
}

#sign-up-btn:hover,
#sign-up-btn:active{
    background-color: #790535;
}

#login-btn,
#log-out-btn{
    color: #14445c;
    border-color: #14445c;
    font-weight: 900;
}

#login-btn:hover,
#login-btn:active,
#log-out-btn:hover,
#log-out-btn:active{
    border-color: #14445c;
    background-color: #14445c;
    color: #fff;
}

.primary-color{
    color: #961047;
}
.bold{
    font-weight: 900;
}
.nav-bg-color{
    background-color: #fcf4ec;
}
.current-page{
    color: #790535;
}
.secondary-color{
    color: #14445c;
}

/* border: 2px solid #961047;
background-color: #eee;


border: 3px solid #961047;
border-top: 0px;
border-radius: 0px 0px 10px 10px;
background-color: #fcf4ec; */