/* Global */

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 20px;
    /* position: relative; */
}

/* Nav */
.navbar {
    background-color: #fcf4ec;
    border-bottom: 3px solid #961047;
}

span.navbar-brand-name {
    font-size: 30px;
    font-weight: 700;
    color: #961047;
}

.ME-highlighted-text {
    font-weight: 900;
    color: #961047;
}

.rent-me-primary-color {
    color: #961047;
}

/* a.nav-link {
    color: #961047 !important;
    font-weight: 900;
}

.nav-link:hover,
.nav-link:active {
    color: #14445c !important;
} */

a.nav-link {
    color: #14445c !important;
    font-weight: 900;
}

.nav-link:hover,
.nav-link:active {
    color: #961047 !important;
}

#sign-up-button {
    background-color: #961047;
    border-color: #961047;
    color: #fcf4ec;
    margin: 0px 0.5rem;
}

#sign-up-button:hover,
#sign-up-button:active {
    background-color: rgba(150, 16, 71, 0.9);
    color: #fcf4ec
}

#sign-up-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(150 16 71 / 50%);
}

#sign-in-button {
    border-color: #14445c;
    color: #14445c;
    margin: 0px 0.5rem;
}

#sign-in-button:hover,
#sign-in-button:active {
    background-color: #14445c;
    color: #fcf4ec
}

#sign-in-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(20 68 92 / 50%);
    background-color: #14445c;
    color: #fcf4ec
}

.current {
    color: #961047;
}

/* Main */
/* END */
/* .discover {
    height: 700px;
    width: 100%;
    background-image: url("Houses.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
}

.discover-form {
    display: inline-block;
}

.discover-title {
    margin: 300px 0px 10px 0px;
    color: #fff;
} */

.primary-color {
    color: #961047;
    font-weight: 700;
}

.body {
    /* position: relative; */
}

.footer {
    background-color: #fcf4ec;
    color: #961047;
    font-weight: 700;
    border-top: 3px solid #961047;
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */
}

.secondary-color {
    color: #14445c;
    font-weight: 700;
}

.bg-third-color {
    background-color: #fcf4ec;
}