<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/c38846dbd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    @RenderSection("CSS", required: false)
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <span class="text-primary"><i class="fas fa-gopuram fa-lg"></i></span> Food Town
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i
                                        class="fas fa-search fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Item" asp-action="List">Food </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Item" asp-action="List">Inventory </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Category" asp-action="List">Categories </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Brand" asp-action="List">Brands </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="About">About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="About">Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Order" asp-action="Cart"> <i
                                class="fas fa-shopping-cart fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Sign" asp-action="In">
                            <ins>Sign In here</ins>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Web - <a asp-area="" asp-controller="Home">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>