@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    var loggedUser = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(loggedUser);
    if (roles.Any(r => r != "Customer"))
    {
        <li class="nav-item">
    <a class="nav-link" asp-controller="House" asp-action="List" id="house-link">Houses</a>
</li>
        <li class="nav-item">
    <a class="nav-link" asp-controller="Service" asp-action="List" id="service-link">Services</a>
</li>
    }
    <li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Hello
        @User.Identity.Name!</a>
</li>
    <li class="nav-item">
    <form class="form-inline" asp-controller="Account" asp-action="LogOut"
        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
</li>
}
else
{
    <li class="nav-item">
    <a class="btn btn-lg btn-danger mx-sm-2 my-sm-0" asp-controller="Account" asp-action="SignUp"
        id="sign-up-button">Sign
        up</a>
</li>
    <li class="nav-item">
    <a class="btn btn-lg btn-outline-primary mx-sm-2 my-sm-0" asp-controller="Account" asp-action="Login"
        id="sign-in-button">Login</a>
</li>
}
