@model Entities.Service

@{
    ViewData["Title"] = "RentMe || Add House";
    Layout = "_FormsLayout";
}
@section CSS{
<link rel="stylesheet" href="~/css/form.css">
}
<form asp-action="Create" enctype="multipart/form-data"
    class="bg-light mx-auto shadow mt-lg-5 mt-sm-3 p-4 border border-2 rounded-3">
    <h2 class="text-center secondary-color"><i class="fas fa-plus"></i> Add Service</h2>
    <div class="form-outline mt-4">
        <input asp-for="Name" class="form-control">
        <label asp-for="Name" class="form-label"></label>
    </div>
    <span class="text-danger" asp-validation-for="Name"></span>
    <div class="input-group mt-4">
        <span class="input-group-text">$</span>
        <input asp-for="Price" class="form-control" placeholder="Price">
    </div>
    <span class="text-danger" asp-validation-for="Price"></span>
    <div class="form-outline mt-4">
        <textarea class="form-control" asp-for="Description" rows="3" placeholder="lorem ipsum"></textarea>
        <label class="form-label" asp-for="Description"></label>
    </div>
    <span class="text-danger" asp-validation-for="Description"></span>
    <div class="form-group mt-3">
        <input type="submit" value="Save Service" class="btn btn-success" />
        <a asp-action="List" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}