@{
    ViewData["Title"] = "Error";
    Layout = "_ShowLayout";
}

<div>
    <h1 class="text-danger"><i class="fas fa-bug fa-5x"></i></h1>
    <h1 class="display-1">Ooops... Something gone wrong</h1>
    <p class="lead">An internal error has occurred. Please refresh the page, if the problem persists, please contact
        with
    <div class="fw-bold">Kevin Ordoñez Zelaya</div>
    </p>
</div>