@{
    ViewData["Title"] = "NotAvailable";
    Layout = "_ShowLayout";
}
<div>
    <h1 class="text-black"><i class="fas fa-bomb fa-5x"></i></h1>
    <h1 class="display-1">Not available</h1>
    <p class="lead">The house you're currently looking for is not longer available</p>
</div>