@{
    ViewData["Title"] = "NotAuthorize";
    Layout = "_ShowLayout";
}
<div>
    <h1 class="text-danger"><i class="fas fa-ban fa-5x"></i></h1>
    <h1 class="display-1">Unathorized Accesss</h1>
    <p>You don't have access to this content</p>
</div>